@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities{
    .bg-hero-gradient{
        background-image: url(./images/bg-hero.png);
        object-fit: fill;
        object-position: center;
}
}